@using N2.Web
@model Dinamico.Models.ContentPage

@{
	Content.Define(re =>
	{
		re.Title = "News page";
		re.IconUrl = "{IconsUrl}/newspaper.png";
		re.DefaultValue("Visible", false);
		re.RestrictParents("Container");
		re.Sort(N2.Definitions.SortBy.PublishedDescending);
	});
}

@section BodyLayoutReplacementRows
{
	<!-- hero unit -->
	<div class="row" id="heroUnitRow">
		<div class="col-xs-12 centered" id="heroUnitCell">
			@{ Html.DroppableZone("Hero").Render(); }
		</div>
	</div>
	<!-- /hero unit -->


	<div class="row">

		<!-- sub-navigation -->
		<div class="col-sm-2">
			@{ Html.RenderPartial("_RightNavShared");}
		</div>
		<!-- /sub-navigation -->

		<!-- main content-->
		<div class="col-sm-6">
			@Content.Render.Tokens("Title").Wrap(@<h1>@item.RenderContents()</h1>)
			<h2>Published @Content.Current.Item.Published.Value.ToString("MMM d, yyyy")</h2>
			@Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)
			@{ Html.DroppableZone("Body").Render(); }
		</div>
		<div class="col-sm-4">
			@{ Html.DroppableZone("Gutter").Render(); }
			@{ Html.DroppableZone("RecursiveGutter").Render(); }

			<h1>Read more</h1>
			@Html.Raw(new MenuPartRenderer(new MenuPart()
			{
				MenuStartFromLevel = 5,
				MenuShowSibilings = MenuPartBase.SibilingDisplayOptions.Always,
				MenuNumChildLevels = 1,
				MenuFlattenTopLevel = true,
				MenuDontLinkTopLevel = true
			}).GetHtml())

			@{ Html.DroppableZone("GutterBelow").Render(); }
		</div>
		<!-- /main content -->

	</div>
	<!-- /row -->
}